/* * {
    border: 1px solid black;
} */

body {
    background-color: chocolate;
}

h1 {
    font-size: 32pt;
}

label {
    font-size: 20pt;
}

a {
    font-size: 20pt;
    margin: 4px;
    color: chocolate;
    -webkit-text-stroke-width:thin;
    /* -webkit-text-stroke-color: whitesmoke; */
}

nav {
    background-color: #490206;
}

.selectedPageLink {
    pointer-events: none;
    color: black;
    /* color: #490206; */
    text-decoration-line: none;
}

.finePrint {
    font-size: xx-small;
}

.bottom {
    position: absolute;
    bottom: 0;
}

#signInForm {
    position: relative;
    top: 50%;
}

.rightRelative {
    position: relative;
    right: 0;
}

.centerText {
    text-align: center;
}

.containerFlex {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center;
    align-content: center; */
    align-items: flex-end;
    flex-wrap: nowrap;
}

.containerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.containerLineFit {
    display: flex;
    justify-content: space-between;
}

.containerLineCenter {
    display: flex;
    justify-content: center;
}

.chocolateContrast {
    color: chocolate;
    -webkit-text-stroke-width:thin;
    -webkit-text-stroke-color: whitesmoke;
}

.calendarContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.monthContainer {
    border: #490206;
    border-width: 10px;
    border-style:groove;
    border-radius: 16px;
    background-color: #490206;
    margin: 8px 2px;
}

.monthTitle {
    font-size: 42px;
    text-align: center;
    color: chocolate;
    /* color: #490206; */
    -webkit-text-stroke-width:thin;
    -webkit-text-stroke-color: whitesmoke;
}